<h4>Categories</h4>
<div class="list-group">
  <% @categories.each do |category| %>
    <%= link_to category.name, welcome_index_path(category_id: category.id), class: "list-group-item"%>
  <% end %>
</div>