<%= title restaurant.name %>

<address>
  <p>
    <i class="glyphicon glyphicon-map-marker"></i>
    <%= restaurant.address %>
  </p>

  <p>
    <i class="glyphicon glyphicon-phone-alt"></i>
    <%= restaurant.phone %>
  </p>
  <hr>
</address>

<% if restaurant.dishes.length > 0 %>
  <h3>Dishes</h3>
  <div class="row">
    <% restaurant.dishes.each do |dish| %>
    <div class="col-sm-6">
      <%= render 'dish', dish: dish, search: search %>
    </div>
    <% end %>
  </div>
<% else %>
  <p class="text-danger">No dishes found.</p>
<% end %>