<div class="row">
  <div class="col-sm-9">
    <%= render 'restaurants_list', restaurants: @restaurants %>
  </div>
  <div class="col-sm-3">
    <%= render 'categories_list', categories: @categories %>
  </div>
</div>