<div class="row">
  <div class="col-sm-9">
    <%= render 'restaurant_info', restaurant: @restaurant, search: @search %>
  </div>
  <div class="col-sm-3">
    <%= render 'categories_list', categories: @categories %>
  </div>
</div>